<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ATALA's ontology</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="static/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="static/assets/css/vanilla-zoom.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="index">ATALA</a><button data-bs-toggle="collapse"
                class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="explore">Explorer</a></li>
                    <li class="nav-item"><a class="nav-link" href="form">Add resource<br></a></li>
                    <li class="nav-item"><a class="nav-link" href="download">Download</a></li>
                    <li class="nav-item"><a class="nav-link" href="about-atala">About ATALA</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Et voila! </h2>
                    <p>Vous avez completé le formulaire simple. Suivez les etapes qui manquent :</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-10 feature-box"><i class="icon-star icon"></i>
                        <h4>Verifiez l'information</h4>
                        <p>name : {{data.name.split(",")}}</p>
                        <p>email : {{data.email.split(",")}}</p>
                        <p>personal_website : {{data.personal_website.split(",")}}</p>
                        <p>resource_name : {{data.resource_name}}</p>
                        <p>resource_website : {{data.resource_website}}</p>
                        <p>resource_type : {{data.resource_type|join(", ")}}</p>
                        <p>resource_description : {{data.resource_description}}</p>
                        <p>general_task : {{data.general_task|join(", ")}}</p>
                        <p>specific_task : {{data.specific_task|join(", ")}}</p>
                        <p>task_description : {{data.task_description}}</p>
                        <p>Sinon, <a href="javascript:history.back()">Go Back</a></p>
                    </div>
                    <div class="col-md-10 feature-box"><i class="icon-pencil icon"></i>
                        <h4>Github</h4>
                        <p>Link <a href="{{github_link}}">here</a></p>
                    </div>
                    <div class="col-md-10 feature-box"><i class="icon-screen-smartphone icon"></i>
                        <h4>Responsive</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor
                            in, mattis vitae leo.</p>
                    </div>
                    <div class="col-md-10 feature-box"><i class="icon-refresh icon"></i>
                        <h4>All Browser Compatibility</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor
                            in, mattis vitae leo.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2022 Copyright Text</p>
        </div>
    </footer>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="static/assets/js/vanilla-zoom.js"></script>
    <script src="static/assets/js/theme.js"></script>
</body>

</html>