<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ATALA's ontology</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="static/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="static/assets/css/vanilla-zoom.min.css">
    <style>
        .clean-block.clean-form form {
            max-width: 800px
        }

        h4 {
            font-weight: 600;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="index">ATALA</a><button data-bs-toggle="collapse"
                class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="explore">Explorer</a></li>
                    <li class="nav-item"><a class="nav-link active" href="form">Add resource<br></a></li>
                    <li class="nav-item"><a class="nav-link" href="download">Download</a></li>
                    <li class="nav-item"><a class="nav-link" href="about-atala">About ATALA</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page contact-us-page ">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Ajouter une ressource</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in,
                        mattis vitae leo.</p>
                </div>
                <form action="form-1" method="post" class="needs-validation" novalidate>
                    <ul class="nav nav-pills justify-content-center" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="author-tab" data-bs-toggle="tab"
                                data-bs-target="#author-tab-pane" type="button" role="tab"
                                aria-controls="author-tab-pane" aria-selected="true">Auteur</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="resource-tab" data-bs-toggle="tab"
                                data-bs-target="#resource-tab-pane" type="button" role="tab"
                                aria-controls="resource-tab-pane" aria-selected="true">Ressource</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="task-tab" data-bs-toggle="tab" data-bs-target="#task-tab-pane"
                                type="button" role="tab" aria-controls="task-tab-pane"
                                aria-selected="true">Tâches</button>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <!---- TAB 1 ---->
                        <div class="tab-pane fade show active" id="author-tab-pane" role="tabpanel"
                            aria-labelledby="author-tab" tabindex="0">

                            <div class="row g-3">

                                <h4 class="mt-5">À propos de l'auteur*</h4>
                                <div class="col-sm-12">
                                    <label for="name" class="form-label">Prénom et nom</label>
                                    <input type="text" class="form-control" id="name" name="name"
                                        placeholder="John Smith, Pierre Dubois" multiple required>
                                    <div class="invalid-feedback">
                                        Valid last name is required.
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <label for="email" class="form-label">Email (Optionnel)</span></label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="vous@exemple.com, vous2@exemple.com" multiple />
                                    <div class="invalid-feedback">
                                        Please enter a valid email.
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <label for="personal_website" class="form-label">Github ou site
                                        personnel (Optionnel)</label>
                                    <input type="url" class="form-control" id="personal_website" name="personal_website"
                                        placeholder="https://exemple.com/vous, https://exemple.com/vous2" multiple>
                                    <div class="invalid-feedback">
                                        Valid website is required.
                                    </div>
                                </div>
                            </div>
                            <p><small>*Si nécessaire, séparez les noms, les adresses électroniques ou les
                                    sites personnels par des virgules.
                                </small></p>

                        </div>
                        <!---- TAB 2 ---->
                        <div class="tab-pane fade" id="resource-tab-pane" role="tabpanel" aria-labelledby="resource-tab"
                            tabindex=" 0">
                            <div class="row g-3">
                                <h4 class="mt-5">Ressource</h4>

                                <div class="col-sm-6">
                                    <label for="resource_name" class="form-label">Nom</label>
                                    <input type="text" class="form-control" id="resource_name" name="resource_name"
                                        placeholder="" required>
                                    <div class="invalid-feedback">
                                        Valid name is required.
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label for="resource_website" class="form-label">Site</label>
                                    <input type="url" class="form-control" id="resource_website" name="resource_website"
                                        placeholder="https://exemple.com" value="" required>
                                    <div class="invalid-feedback">
                                        Valid website is required.
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label class="form-label" for="resource_type">Type de ressource*</label>
                                    <select class="form-select" id="resource_type" name="resource_type" multiple
                                        aria-label="multiple select example" size="4" required>
                                        {% for r in resources %}
                                        <option> {{ r }} </option>
                                        {% endfor %}
                                    </select>
                                    <div class=" invalid-feedback">
                                        Please select at least one valid type.
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label for="resource_description" class="form-label">Description</label>
                                    <textarea class="form-control" id="resource_description" name="resource_description"
                                        rows="4" placeholder="Brève description" required></textarea>
                                </div>
                            </div>
                            <p><small>*Plusieurs réponses sont possibles</small></p>
                        </div>
                        <!---- TAB 3 ---->
                        <div class="tab-pane fade" id="task-tab-pane" role="tabpanel" aria-labelledby="task-tab"
                            tabindex="0">
                            <div class="row g-3">

                                <h4 class="mt-5">Tâche(s) realisée(s)</h4>

                                <div class="col-sm-6">
                                    <label class="form-label" for="general_task">Tâche générale*</label>
                                    <select class="form-select" id="general_task" name="general_task" multiple
                                        aria-label="multiple select example" size="4" required>
                                        {% for t in task_types %}
                                        <option> {{ t }} </option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select at least one task.
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label class="form-label" for="specific_task">Tâche specifique*</label>
                                    <select class="form-select" id="specific_task" name="specific_task" multiple
                                        aria-label="multiple select example" size="4" required>
                                        {% for t in tasks %}
                                        <option> {{ t }} </option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select at least one task.
                                    </div>
                                </div>

                                <div class="">
                                    <label for="task_description" class="form-label">Description (Si vous avez
                                        choissi l'option « Autre »)</label>
                                    <textarea class="form-control" id="task_description" name="task_description"
                                        rows=" 2"></textarea>
                                </div>
                            </div>
                            <p><small>*Plusieurs réponses sont possibles</small></p>
                        </div>
                        <div class="d-grid gap-2 col-2 mx-auto mt-4">
                            <button class="w-100 btn btn-primary" type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2022 Copyright Text</p>
        </div>
    </footer>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="static/assets/js/vanilla-zoom.js"></script>
    <script src="static/assets/js/theme.js"></script>
    <script src="static/form-validation.js"></script>
</body>

</html>